/* AddSongs.css */
.AddSongs {
    display: flex;
    justify-content: center; /* Center items horizontally */
}

.SearchResults, .Playlist {
    width: 45%; /* Adjust width as needed */
    margin: 0 2rem; /* Add space on both sides */
}
